

/*-- All the media queries start here. Media Queries consists of six views including
one for iPhone 5 that needs aspect ratio configuration --*/
/*-----Krishna added css -------*/
/* Small only */
@media screen and (max-width: 39.9375em) {
.largeDevice, .wf-megaHeader,.about-left-nav, .heroLogoBlock,.page-deep-hero-info, .about-breadcrumb{
	display: none;
}
.about-main-text p{
	padding-left: 0;
}
.js #menu {
	display: none;
}
.js .slicknav_menu {
	display: block;
}  
.wf-mid-col {
        margin: 0 0 40px 0px;
}
.wf-card-body {
    height: auto !important;
}
.news-parent-block {
    left: 50%;
    bottom:38px;
    width: 84px;
    margin-left: -43px;
    z-index: 10;
    transform: rotate(90deg);
}
.news-parent-block > a {
    
    margin:0;
}


.wf-pNewsThreeCol, .wf-pNewsTwoCol{ /*-Three column row.-*/
      display:-webkit-flex;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      margin-bottom: 25px;

		}
		.wf-pNewsThreeCol .wf-pNewsThreeCol__col, .wf-pNewsTwoCol .wf-pNewsTwoCol__col{
		margin-bottom: 25px;
		}
		.wf-pNewsThreeCol .wf-pNewsThreeCol__col:last-child,.wf-pNewsTwoCol .wf-pNewsTwoCol__col:last-child{
			margin-bottom: 0;
		}
		.wf-whiteExpand {
    margin-top: -88px !important;
}
.wf-newsSlider{
	margin-top: 30px !important;
}
.wf-pNewsBlock {
    top: -30px !important;
}
ul.wf-copyRight > li {
    line-height: 14px !important;
}
.wf-copyRight {
    margin-bottom: 0;
}
.wf-aboutSlider .bx-controls {
    bottom: 60px;
	width:100%;
}
.wf-aboutSlider .bx-wrapper .bx-pager.bx-default-pager a {
    width: 5px;
    height: 10px;
    margin: 0px 3px;
}
.wf-moreAboutPattern .wf-pNewsBlock{
    top: -25px !important;
}
.page-deep-hero {
    padding-left: 25px;
	padding-right: 25px;
}
.mobile-hero-title{
	font-size: 20x;
    text-transform: uppercase;
	font-family: 'flamamedium', 'Helvetica Neue', 'Roboto', Arial;
	    margin-bottom:20px;
}
.wf-whiteAboutExpand,.first-download,.second-download,.third-download, .sustainability-cm-panel{
    padding: 30px 25px 128px 25px;
}
.corpGov-body{
	float: none !important;
	width: 100%;
}
.about-wrapper .cg-st-download{
	width: 50%;
}
.expander-expander {
    left: -26px;
    right: -24px;
}
.expander-expander-contents {
    background-color: #f2f2f2;
    border: none;
	padding-bottom:54px;
	padding-left: 25px;
	padding-right: 25px;
}
.expander-expander-contents div.close {
    display: inline-block;
    border: 1px solid black;
    background: none;
    padding: 0.7rem 2.5rem;
    color: #29292b;
    line-height: 1;
	position: static;
	margin-top: 100px;
}
}
/* iPhone 5 Device aspect ratio -- same as small */
@media screen and (device-aspect-ratio: 40/71) {
.largeDevice, .wf-megaHeader, .rightLogoBlock {
	display: none;
}
.js #menu {
	display: none;
}
.js .slicknav_menu {
	display: block;
}
}
@media screen and (min-width: 40em) {
.news-parent-block  {
  left: 25px;
  top: 165px;
  z-index: 10;
}
.mb-scroll-top{
	display: none;
}
.wf-pNewsThreeCol{ /*-Three column row.-*/
      display:-webkit-flex;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      margin-bottom: 53px;
	  margin-left: -3px;
   margin-right: -3px;
}
.wf-pNewsThreeCol__col{
				width: 33.3333%;
				    margin: 0px 3px;
			}
	

		.wf-pNewsTwoCol{ /*-Two column row-*/
    display:-webkit-flex;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
		}

			.wf-pNewsTwoCol__col{
				width: 50%;
				    margin: 0px 3px;
			}
			.wf-aboutSlider .bx-controls {
    top: 50%;
	left:38px;
}
.mobile-hero-title{
	display: none;
}
.row-grido-flex{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0px -7px 40px -7px;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.about-wrapper .cg-st-download{
	float: right;
}
.expander-expander-contents div.close > span{
	display: none;
}
}

/* Custom media query for tablet */

@media screen and (min-width:640px) and (max-width:991px){
.wf-pNewsThreeCol .wf-card-body {
    height: 180px !important;
}
.wf-pNewsThreeCol .wf-card-button{
	    padding: 0.7rem 1rem !important;
}
.news-parent {
    padding-top: 100px;
    padding-left: 90px;
}
.news-parent p {
    font-size: 17px;
    width: 230px;
}
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
.largeDevice, .wf-megaHeader {
	display: none;
}
.js #menu {
	display: none;
}
.js .slicknav_menu {
	display: block;
}
.wf-card-body-headings h2, .wf-card-body-description, .wf-card-button{
	font-size: 72%;
}Ã
.wf-card-body-description{
	display: none;
}
.wf-moreAboutPattern .wf-card-body-description, .sust-perform-block .wf-card-body-description{
	display: block;
	opacity: 1;
}
.wf-card-body-description {
	padding: 0;
}
.wf-card-body{
	height: 180px;
}
.wf-card-body-headings h2 {
    height: 45px;
}
.wf-moreAboutPattern .wf-card-body-headings h2, .sust-perform-block .wf-card-body-headings h2{
height: auto;
}
.about-left-nav {
    width: 40%;
    padding-right: 30px;
}
.about-body, .aboutBoard-body{
    width: 60%;
}
.about-main-text p {
    padding-left:0px;
}
.wf-sustSlider .wf-innerslide .news-parent-block{
	left: 50%;
    bottom: -31px;
    width: 84px;
    margin-left: -43px;
    z-index: 10;
    transform: rotate(90deg);
	top: initial;
}
.index-page .wf-pNewsThreeCol__col .wf-card-body-description{
	display: none;
}
}
/* Small and medium only */
@media screen and (max-width: 63.9375em) {
	.sc .bx-controls, .rightLogoBlock{
		display:none;
	}
.leftLogoBlock {
	top:0;
	bottom:0;
	width:100%;
	left:0;
	z-index: 2;
}
.sc .arrow_scrollDown{
	z-index: 5;
}
.sliderOverlay-text{
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%;
}
.sliderOverlay-text .lftLogoBlock-Row{
	display:table-row;
}
.sliderOverlay-text .lftLogoBlock-Row .lftLogoBlock-text{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.sc{
    height:100vh;
    width:100%;
	margin-bottom: 60px;
}
.sc .bx-wrapper, .sc .bx-wrapper .bx-viewport, .sc .bx-wrapper .bx-viewport .bxslider, .sc .bx-wrapper .bx-viewport .bxslider > li, .slide-picture{
    height:100% !important;
    width:100% !important;
}
.page-deep-hero{
	padding-top: 90px;
}
.pages_deep .wf-mobileHeader{
	border: 15px solid #ccc;
    border-bottom: none;
}
.deep-logo-branding{
	position: absolute;
    top: 10px;
    left: 26px;
}
.pages_deep .wf-mobileHeader.header-fix .deep-logo-branding > .icon-logo{
	color: #29292b;
}
.wf-moreAboutPattern .wf-card-body, .sust-perform-block .wf-card-body{
	height: auto;
}
.pages_deep .wf-mobileHeader.header-fix {
    background-color: #ccc;
}
.pages_deep .wf-mobileHeader.header-fix.slicknav_black {
    background-color: #29292b;
}
}
/* Large and up */
@media screen and (min-width: 64em) {
	.wf-sustSlider .wf-innerslide .news-parent-block {
    left: -74px;
}
.wf-mobileHeader, .index-page .wf-megaHeader .lg-logo-branding,.deep-logo-branding{
	display: none;
}
.about-intro-text{
    width: 575px;
}
.about-body, .aboutBoard-body{
   width: 715px;

}
 .wf-moreAboutPattern .wf-card-body-description, .sust-perform-block .wf-card-body-description{ 
        opacity: 1;
    }
.pages_deep .wf-pNewsTwoCol .wf-pNewsTwoCol .wf-card-block .wf-card-body-description{
	height: 80px;
}
.wf-megaHeader.header-fix .lg-logo-branding {
	display: block;
}
.leftLogoBlock{
  top:40%;
  left: 36px;
}
.lftLogoBlock-textBody{
    width: 290px;
    display: inline-block;
    text-align: left;
}
.sc .slide-picture{
    height:820px;
}
.wf-card-block:hover .wf-card-body {
    bottom:0px;
    height: 250px;
	border: 5px solid #000;
    border-top: none;
}
.wf-pNewsTwoCol .wf-card-block:hover .wf-card-body {
    bottom:0px;
    height: 226px;
}
.wf-card-block:hover{
    cursor: pointer;
}
.wf-card-block:hover:after, .expander-item.active .wf-card-block:after {
    border: 5px solid #000000 !important;
}
.wf-card-body{
border: 5px solid transparent;
}
 .cg-st-download {
    width: 188px;
}   
}
 @media screen and (max-width: 40em) {
}
/*-----end of krishna added css -------*/

/* Small only */
@media screen and (max-width: 39.9375em) {
.wf-whiteExpand {
	padding: 0 25px 60px;
}
.wf-pNewsExpand, .wf-footExpand {
	padding: 0 20px;
}
.wf-pNewsTwoCol__col {
	width: 100% !important;
}

.wf-moreAboutPattern{
	    margin-bottom: 80px !important;
}
.wf-pNewsThreeCol__col {
	width: 100% !important;
}
.wf-pNewsThreeCol__col .wf-card-block:last-child{
	margin-bottom: 0;
}
.wf-footerBlock {
	padding: 30px 0 40px !important;
}
.wf-footLogoGroup {
	width: 40%;
}
.wf-footLinkBlock {
	margin: 0 0 0 58%;
}
.wf-footerBlock .float-right {
	float: none !important;
	display: block !important;
}
.wf-footStock {
	position: absolute;
	left: 0;
	bottom: 40px;
	text-align: left;
}
.wf-footLinkBlock .columns {
	width: 100% !important;
}
.wf-footLinkBlock ul li {
	line-height: 26px;
}
.wf-footMainLink a {
	font-size: 80% !important;
}
.wf-footOtherLink a, .wf-footStockBlock__text {
	font-size: 60% !important;
}
.wf-copyRight {
	font-size: 70% !important
}
.wf-aboutCaroWrapper {
	padding-top: 80px;
}
.wf-aboutSlider p {
	width: 90%;
	font-size: 27px;
}
.wf-slideText {
	width: 100% !important;
	height: 490px !important;
}
.wf-news-container {
	width: auto;
}
.img-container {
	display: none;
}
.wf-slideImage {
	display: none;
}
.news-parent .float-left {
	float: none !important
}
.news-parent {
	padding-top: 40px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 0;
	text-align: center;
	width: auto;
}
.news-parent h2 {
	font-family: 'flamamedium';
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}
.news-parent p {
	font-family: 'flamamedium';
	font-size: 28px;
	padding-top: 25px;
	padding-bottom: 67px;
	width: auto;
	line-height: 30px;
	color: #29292b;
}
.bx-wrapper img{
   max-width: 80% !important;
margin: 0 auto !important;
}

.leftLogoBlock p{
   padding: 0 5px !important;
}


/*Kshitiz's part*/
.wf-card-body-description{
	display: none;
	padding-bottom: 1rem;
}
.wf-moreAboutPattern .wf-card-body-description, .sust-perform-block .wf-card-body-description{
	display: block;
	padding-bottom: 1rem;
	opacity: 1;
}
.wf-card-body-headings{
	padding-bottom: 1rem;
}

.wf-card-block:hover{
    cursor: pointer;
    border: none;
}


.corpGov-body {
    width: auto;
}

.corpGov-body .about-intro-text {
    width: auto !important;
}

}

/* iPhone 5 Device aspect ratio -- same as small */
@media screen and (device-aspect-ratio: 40/71) {
.wf-whiteExpand {
	padding: 0 10px 60px;
}
.wf-pNewsExpand, .wf-footExpand {
	padding: 0 10px;
}
.wf-footMainLink a {
	font-size: 60% !important;
}
.wf-footOtherLink a, .wf-footStockBlock__text {
	font-size: 60% !important;
}
.wf-copyRight {
	font-size: 8px !important;
}

.wf-moreAboutPattern{
	    margin-bottom: 80px !important;
}
.wf-slideText {
	width: 100% !important;
	height: 440px !important;
}
.wf-slideImage {
	display: none !important;
}

.bx-wrapper img{
   max-width: 80% !important;
margin: 0 auto !important;
}

.leftLogoBlock p{
   padding: 0 5px !important;
}

.news-parent {
   padding-top: 40px !important;
padding-left: 10% !important;
padding-right: 10% !important;
}


.news-parent p{
   padding-bottom: 67px !important;


}
.corpGov-body {
    width: auto;
}

.corpGov-body .about-intro-text {
    width: auto !important;
}

}


/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
.wf-whiteExpand {
	padding: 0 30px 95px;
}
.wf-pNewsExpand, .wf-footExpand, .first-download, .second-download, .third-download, .sustainability-cm-panel{
	padding: 50px 30px;
}
.wf-pNewsTwoCol__col {
	width: 49%;
	margin: 0 auto 65px auto;
}
.wf-pNewsThreeCol__col {
	margin: 0 3px;
}
.wf-footLogoGroup {
	width: 200px;
}
.wf-footLinkBlock {
	margin: 0 135px 0 210px;
}
.wf-footLinkBlock .columns {
	width: 49% !important;
}
.wf-footMainLink a {
	font-size: 80%;
}
.wf-footOtherLink a, .wf-copyRight, .wf-footStockBlock__text {
	font-size: 80%;
}
	.wf-moreAboutPattern .wf-pNewsBlock{
    top: -98px !important;
}
.wf-moreAboutPattern{
	    margin-bottom: -190px !important;
}
.wf-slideText {
	width: 58% !important;
	height: 440px !important;
}
.wf-slideImage {
	width: 42% !important;
	height: 440px !important;
}
		.wf-card-header{
			height: 72%;
		}
.corpGov-body{
    width: 40%;
}

.corpGov-body .about-intro-text {
    width: 300px !important;
}

}
/*  1024 to 1170px */
@media screen and (min-width: 1024px) and (max-width: 1170px) {
	.about-body, .aboutBoard-body{
    width: 520px;
}
.about-intro-text {
    width: 520px;
}
.about-main-text p{
	padding-left: 0 !important;
}
	.wf-moreAboutPattern .wf-pNewsBlock{
    top: -46px !important;
}


}

/*  1170 to 1144 */
@media screen and (min-width: 1171px) and (max-width: 1184px) {
	.about-body {
    width: 690px;
}
.about-intro-text {
    width: 520px;
}
.about-main-text p{
	padding-left: 0 !important;
}
	.wf-moreAboutPattern .wf-pNewsBlock{
    top: -46px !important;
}
.corpGov-body{
    width: 40%;
}

.corpGov-body .about-intro-text {
    width: 300px !important;
}

}


/* Large only  -- 1024 to 1280px -- same as medium in our case */
@media screen and (min-width: 64em) and (max-width: 80em) {
.wf-whiteExpand {
	padding: 0 30px 95px;
}
.wf-pNewsExpand, .wf-footExpand {
	padding: 0 30px;
}
.wf-footLinkBlock .columns {
	width: 49% !important;
}
.wf-slideText {
	width: 58% !important;
	height: 440px !important;
}
.wf-slideImage {
	width: 42% !important;
	height: 440px !important;
}
	.wf-card-body-header{
		height: 396px;
	}
	.wf-card-header{
		height: 72%;
	}
	
.sc .slide-picture{
    height:530px;
}
	.wf-moreAboutPattern .wf-pNewsBlock{
    top: -46px !important;
}
.corpGov-body{
    width: 40%;
}

.corpGov-body .about-intro-text {
    width: 500px !important;
}

}

/* Large and up */
@media screen and (min-width: 64em) {
	.wf-footExpand{
		margin-top: 26px;
	}

	.wf-moreAboutPattern .wf-pNewsBlock{
    top: -46px !important;
}
.wf-moreAboutPattern{
	    margin-bottom: -50px !important;
}
}
@media screen and (min-width: 640px) and (max-width: 680px) {

.wf-footerBlock {
    padding: 20px 0 40px !important;
}
.wf-footLogoGroup {
    width: 40%;
}
.wf-footLinkBlock {
    margin: 0 0 0 58%;
}
.wf-footerBlock .float-right {
    float: none !important;
    display: block !important;
}
.wf-footStock {
    position: absolute;
    left: 0;
    bottom: 40px;
    text-align: left;
}
.wf-footLinkBlock .columns {
    width: 100% !important;
}
.wf-footLinkBlock ul li {
    line-height: 26px;
}
.wf-footMainLink a {
    font-size: 80% !important;
}
.wf-footOtherLink a, .wf-footStockBlock__text {
    font-size: 60% !important;
}
.wf-copyRight {
    font-size: 70% !important
}



}

@media screen and (min-width:640px) and (max-width:933px) {
	.corpGov-body, .aboutBoard-body{
    width: auto !important;
}

.corpGov-body .about-intro-text {
    width: auto !important;
}
.about-left-nav {
	display: none;
}



}